body {
	background-color: #dff0ea;
	color; color: #23374d;
	text-align: center;
}
hr {
	border-color: #4f3a65;
	border-style: none;
	border-top-style: dotted;
	border-width: 8px;
	width: 40%;
}
li {
	list-style: none;
}
.faceimage {
	border-radius: 50%;
	text-align: right;
}
.introtable {
	width: 100%;
}
.introphoto {
	text-align: right;
}
.introtext {
	text-align: left;
}
.xptable {
	width: 100%;
}